.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite alternate 2s linear;
  height: 40vmin;
  background-color: blue;
  aspect-ratio: 1;
  margin-bottom: 3em;
}

.App-header {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
    border-radius: 0;
  }
  49% {
    transform: rotate(0deg);
    border-radius: 50%;
  }
  50%{
    transform: rotate(45deg);
    border-radius: 50%;
  }
  100% {
    transform: rotate(45deg);
    border-radius: 0%;
  }
}
